body {
    background-color: #e6e7e8;
}

h1 {
    font-family: "Gill Sans";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: "Impact";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

#vis {
    max-height: 800px;
    position: relative;
    bottom: 20%;
}

#loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 25px 0 25px -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-box, .close-icon, .search-wrapper {
    position: relative;
    padding: 10px;
}

.search-box {
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: Avenir;
    border: 1px solid #deb5d5;
    outline: 0;
    border-radius: 5px;
}

.search-box:focus {
    box-shadow: 0 0 5px 2.5px #deb5d5;
}

.btn-class {
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: #000000;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Avenir;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 10px 40px;
    box-shadow: inset 1px 1px 0 0 #deb5d5, inset 0 -1px 0 0 #deb5d5, inset 0 0 0 1px #deb5d5, 0 2px 4px 0 #deb5d5;
    -moz-box-shadow: inset 1px 1px 0 0 #deb5d5, inset 0 -1px 0 0 #deb5d5, inset 0 0 0 1px #deb5d5, 0 2px 4px 0 #deb5d5;
    -webkit-box-shadow: inset 1px 1px 0 0 #deb5d5, inset 0 -1px 0 0 #deb5d5, inset 0 0 0 1px #deb5d5, 0 2px 4px 0 #deb5d5;
    background-color: #deb5d5;
}

.btn-class:hover, .btn-class:active {
    border: none;
    color: #FFFFFF;
    box-shadow: inset 0 1px 0 0 #e8ea80, inset 0 -1px 0 0 #e8ea80, inset 0 0 0 1px #e8ea80;
    -moz-box-shadow: inset 0 1px 0 0 #e8ea80, inset 0 -1px 0 0 #e8ea80, inset 0 0 0 1px #e8ea80;
    -webkit-box-shadow: inset 0 1px 0 0 #e8ea80, inset 0 -1px 0 0 #e8ea80, inset 0 0 0 1px #e8ea80;
    background-color: #e8ea80;
}

.btn-class-disabled {
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: #000000;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Avenir;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 10px 40px;
    box-shadow: inset 1px 1px 0 0 #deb5d5, inset 0 -1px 0 0 #deb5d5, inset 0 0 0 1px #deb5d5, 0 2px 4px 0 #deb5d5;
    -moz-box-shadow: inset 1px 1px 0 0 #deb5d5, inset 0 -1px 0 0 #deb5d5, inset 0 0 0 1px #deb5d5, 0 2px 4px 0 #deb5d5;
    -webkit-box-shadow: inset 1px 1px 0 0 #deb5d5, inset 0 -1px 0 0 #deb5d5, inset 0 0 0 1px #deb5d5, 0 2px 4px 0 #deb5d5;
    background-color: #deb5d5;
}

.btn-class:focus {
    outline: none;
}

.list_item_container {
    height: 90px;
    padding: 0px;
}

.image {
    width: 90px;
    height: 90px;
    float: left;
}

.description {
    font-style: italic;
    font-size: 1.1em;
    color: gray;
    padding: 5px;
    margin: 5px;
}

.searchresults a img {
    float: left;
    padding: 0 10px 0 0;
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    width: 70px;
    height: 70px;
    background-size: cover;
}

.searchresults {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-size: 10pt;
    list-style-type: none;
    margin: -5px 0 0 -20px;
    padding: 5px 5px 5px 0;
    width: 150px;
    overflow: hidden;
    transition: background 0.5s ease;
}

.ui-menu .ui-menu-item a.ui-state-focus {
    background: #ff0000s;

}    
/*remove JQuerey UI*/
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
.ui-autocomplete, .ui-autocomplete:hover, 
.ui-menu-item, .ui-menu-item:hover,
.ui-menu-item a, .ui-menu-item a:hover,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a
{ background: #ffffff none no-repeat; 
padding:0;
margin:0;
display:block;
border:0;
border-collapse:collapse;
}
