body {
  background-color: #e6e7e8;

}

#title {
	font-family: Impact;
  font-size: 32pt;
}

#lyrics {
	font-family: "Gill Sans";
	font-size: 20pt;
}

div {
	text-align: center;
}

div.center {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
    background-color: yellow;
}
