body {
  background-color: #e6e7e8;
  text-align: center;
}

h1 {
  font-family: Impact;
  font-size: 32pt;
}

h2 {
  font-family: Impact;
  font-size: 20pt;
  cursor:pointer;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  line-height: 150%;
}

li {
  counter-increment: step-counter;
}

li:hover {
  background-color: #e8ea80;
}
